@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('/fonts/SF-Pro-Rounded-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Компоненты */
@layer components {
  .tw-container {
    @apply rounded-[20px] bg-white text-[#212121] shadow-container;
  }

  .shadow-container {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;                /* ❗ полностью отключаем прокрутку у body */
  overscroll-behavior: none;       /* ❗ отключаем пружину на body */
  touch-action: manipulation;
}

.scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}







